body{
    margin: 0;
    overflow: hidden;
}
#editor{
    display: none;
}
#viewer{
    display: none;
    z-index: 2;
} 

#optBt{
    position: absolute;
    display: none;
}

/* intial page */
#initialPage{
    
    /* position: absolute;
    top: 100px;
    left: 0; */

    
}
#img1{
    margin-left: 0;
    padding-left: 0;

   
    background-color: blue;
    border-style: solid;
    border-radius: 40px;
}
#img2{
    margin-right: 0;
    padding-right: 0;

    
    background-color: red;
    border-style: solid;
    border-radius: 40px;
}

/* toolbar */
.marginBT{
    margin-top: 20px;
}

.viewerBT{
    margin-top: 40px;
    
}

#imgBtLoadLG{
    width: 20px;
    height: 20px;
}

#imgBtPreviewLG{
    width: 45px;
    height: 35px;
}

#imgBtLoad{
    width: 15px;
    height: 15px;
}

#imgBtPreview{
    width: 30px;
    height: 25px;
}

#toolbar{
    
    position: absolute;
    top: 100px;
    left: 0;
    background-color: white;
    width: 30px;
    height: 400px;
    border-color: rgb(134,142,150);
    border-style: solid;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
}
/* editor */

.transforms{
    width: 0px;
}

#timeline{
    position: absolute;
    bottom: 10px;
    left: 30%;
    height: 120px;
    
    border-top-right-radius: 40px;
    border-top-left-radius: 40px; 
    border-width: 3px;
    border-color: rgb(134,142,150);
    border-style: solid; 
    background-color: white;
    box-shadow: 0px 10px 50px #888888;
    overflow-y: hidden;
    overflow-x: scroll;
    display: none;
}

#line{
    position: absolute;
    top: 50%;
    left: 20px;
    background-color: rgb(134,142,150);
    width: 500px;
    height: 3px;
}
#elementsWrapper{
    width: 550px;   
}

.keyframeDot{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 38px;
    border-color: red;
    background-color: rgb(134,142,150);
    
}

#keysMenu{
    position: absolute;
    bottom: 30px;
    display: none;
}

#timeline::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 10px;
    background-color: #F5F5F5;
    overflow: hidden;
}

#timeline::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#timeline::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* viewer */
#loadBG{
    background-color: blue;
}

#toolbarViewerDesktop{
    position: absolute;
    top: 200px;
    left: 0;
    background-color: white;
    width: 40px;
    height: 200px;
    border-color: rgb(134,142,150);
    border-style: solid;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#toolbarViewerMobile{
    display: none;
}

@media only screen and (max-width: 600px) {
   
    html{
        overflow: hidden !important;
    }
    
    #toolbarViewerDesktop{
        display: none;
    }
   
    #toolbarViewerMobile{
        display: block;
        position: absolute;
        left: 40%;
    }
  
  }

